main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* presentation */

.presentation {
    max-width: 60%;
    text-align: center;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.presentation h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1e3a5c; 
}

.presentation p {
    font-size: 1.5rem;
    color: #e63946; 
}

/* statistique */
.stat {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px auto;
}

.attraper,
.restant {
    border-radius: 20px;
    color: #1e3a5c; 
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    min-width: 220px;
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attraper {
    background: linear-gradient(to bottom right, #e63946 25%, #457b9d 115%)
}

.restant {
    background: linear-gradient(to bottom left, #457b9d 40%, #e63946 115%);
}

.attraper h2,
.restant h2 {
    color: #1e3a5c;
}

.attraper p,
.restant p {
    flex-grow: 1;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e3a5c;
    font-weight: bold;
    font-size: 2rem;
}

/* accès à la carte */
.acces {
    text-align: center;
    margin: 20px auto;
}

.btn-acces {
    display: inline-block;
    background-color: #e63946;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 12px 32px;
    border: none;
    border-radius: 24px;
    text-decoration: none;
    box-shadow: 0 4px 16px rgba(30, 58, 92, 0.08);
    transition: background 0.3s, color 0.3s;
}

.btn-acces:hover {
    background-color: #1e3a5c;
    color: #fff;
    box-shadow: 0 6px 20px rgba(30, 58, 92, 0.18);
}