/* Mise en page principale */
main {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 40px;
}

main::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px; 
    bottom: -10px;
    background-image: url("../../static/image/smurf_village.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: -1;
}

/* Formulaire Connexion & Inscription */
.formulaire-connexion form,
.formulaire-inscription form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    background: rgb(255, 255, 255);
    border: 2px solid #000;
    border-radius: 20px;
    padding: 32px 24px;
    width: 400px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Labels */
.formulaire-connexion label,
.formulaire-inscription label {
    font-weight: bold;
    color: #5B4B49;
    margin-bottom: 6px;
}

/* Champs */
.formulaire-connexion input,
.formulaire-inscription input {
    padding: 10px 14px;
    border: 1.5px solid #C493B0;
    border-radius: 8px;
    font-size: 1rem;
}

/* Focus sur champs */
.formulaire-connexion input:focus,
.formulaire-inscription input:focus {
    border-color: #5B4B49;
    outline: none;
    box-shadow: 0 0 0 2px #C493B033;
}

/* Boutons */
.formulaire-connexion button,
.formulaire-inscription button {
    display: inline-block;
    background-color: #e63946;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 12px 32px;
    border: none;
    border-radius: 24px;
    box-shadow: 0 4px 16px rgba(30, 58, 92, 0.08);
    transition: background 0.3s, color 0.3s;
    margin-top: auto; /* 🔥 pousse le bouton vers le bas */
}

/* Effet hover */
.formulaire-connexion button:hover,
.formulaire-inscription button:hover {
    background-color: #1e3a5c;
    color: #fff;
    box-shadow: 0 6px 20px rgba(30, 58, 92, 0.18);
}
