*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'SF Slapstick Comic';
  src: url('../font/sf_slapstick_comic/SF\ Slapstick\ Comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    line-height: 1.6;
    background-color: #f5faff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'SF Slapstick Comic', sans-serif;  
}

main {
    flex: 1;
    min-height: 100vh;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e3a5c;
    border-bottom: 4px solid #e63946;
}

.header-logo img {
    height: 60px;
}

.header-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 24px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.header-nav li {
    margin: 0 12px;
    padding: 4px 8px;
    border-radius: 8px;
}

.header-nav li:hover {
    background-color: #e63946;
    box-shadow: 0 2px 8px rgba(230, 57, 70, 0.15);
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.header-nav li:hover a {
    color: #fff;
}

.connexion img {
    height: 55px;
}

/* footer */

footer {
    background-color: #1e3a5c;
    color: #fff;
    padding: 16px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 4px solid #e63946;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
}

.footer-nav ul {
    display: flex;
    list-style: none;
}

.footer-nav li {
    margin-left: 16px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.footer-nav a:hover {
    color: #fff;
    background-color: #e63946;
    box-shadow: 0 2px 8px rgba(230, 57, 70, 0.15);
}